* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: sans-serif;
}


#root {
  padding: 2rem 2rem;
  background-color: #262843;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100vh;
}

/* top navigation */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  flex-wrap: nowrap;
  min-width: 0;
}

.top-btn {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  background-color: #445482;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 15px;
  border: 1px solid #87aec2;
  cursor: default;
  box-shadow: 4px 7px #262843;
  text-transform: uppercase;
  max-width: 200px;
}

.top-icons img {
  max-width: 70px;
  max-height: 35px;
}

.icon-nav {
  position: relative;
  display: inline-block;
}

.icon-nav .icon {
  background-color: #445482;
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  border: 1px solid #87aec2;
  cursor: pointer;
  box-shadow: 4px 7px #262843;
  margin-right: 1rem;
}

.top-text {
  visibility: hidden;
  width: max-content;
  text-align: center;
  border-radius: 6px;
  padding: 4px 8px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.75rem;
  white-space: nowrap;
}

.icon-nav:hover .top-text {
  visibility: visible;
  opacity: 1;
}

/* welcome */
.welcome {
  margin-top: 30px;
  border: 0.2rem solid #7f84cb;
  border-radius: 2rem;
  overflow: hidden;
  flex-wrap: wrap;
}

.welcome-container {
  width: 100%;
  max-width: 100vw;
  background-image: url('./img/bg0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5rem;
  text-align: center;
}

.welcome-container h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  color: white;
}


/* 🔽 Responsive Adjustments for Mobile Screens */
@media (max-width: 768px) {
  .top-btn {
    padding: 0.5rem;
  }

  .title {
    font-size: 8px;
    padding: 0.3rem 0.8rem;
    max-width: 50%;
  }

  .icon-nav .icon {
    padding: 0.2rem 0.2rem;
    margin-top: 5px;
  }

  .top-icons img {
    max-width: 45px;
    max-height: 25px;
  }

  .welcme {
    width: auto;
  }
  .welcome-container {
    padding: 3rem 1rem;
    background-size: cover;
    background-position: center;
  }

  .welcome-container h2 {
    font-size: 10px;
  }

}